Repository diogocaronte/magnitude, pull requests merged in 2024-08, with the labels that each got.

#2 add health
  src/components/health.ts
Labels: component

#1 initial inventory component
  src/assets/inventory/index.ts
  src/assets/inventory/types.ts
  src/assets/item/index.ts
  src/assets/item/types.ts
  src/components/inventory.ts
  src/data/circle/collision.ts
  src/data/circle/types.ts
  src/data/enums.ts
  src/data/inventory/errors.ts
  src/data/inventory/index.ts
  src/data/inventory/stack.ts
  src/data/inventory/types.ts
  src/data/types.ts
  src/scenes/circles/index.ts
  src/systems/core/index.ts
  src/systems/core/types.ts
  src/systems/core/utils.ts
Labels: component, system, asset, data

#4 improve collision and data access
  src/data/circle/collision.ts
  src/data/circle/quadtree.ts
  src/data/circle/types.ts
  src/data/inventory/index.ts
  src/data/inventory/types.ts
  src/data/types.ts
  src/scenes/circles/index.ts
  src/systems/collision/index.ts
  src/systems/collision/types.ts
  src/systems/core/index.ts
  src/systems/core/types.ts
  src/systems/renderer/index.ts
  src/systems/renderer/types.ts
  src/tags/player.ts
Labels: system, asset, data, scene

#3 add teleport 🌀
  src/assets/portal/index.ts
  src/assets/portal/types.ts
  src/components/portal.ts
  src/components/portal/appearence.ts
  src/components/portal/collision.ts
  src/entities/portal/index.ts
  src/entities/portal/types.ts
  src/scenes/circles/index.ts
  src/systems/portal.ts
  src/systems/renderer/index.ts
Labels: component, asset

#7 implement sprite
  public/sprite-sample.png
  src/assets/sprite/index.ts
  src/assets/sprite/types.ts
  src/components/sprite.ts
  src/entities/sprite/index.ts
  src/entities/sprite/types.ts
  src/index.ts
  src/scenes/sprites/index.ts
  src/scenes/sprites/types.ts
  src/systems/renderer/index.ts
  vite.config.js
Labels: component, system, entity, asset, scene

#8 feature planet, asteroid and enemy
  src/assets/asteroid/index.ts
  src/assets/asteroid/types.ts
  src/assets/enemy/index.ts
  src/assets/enemy/types.ts
  src/assets/planet/index.ts
  src/assets/planet/types.ts
  src/components/asteroid/appearence.ts
  src/components/enemy/appearence.ts
  src/components/planet/appearence.ts
  src/entities/asteroid/index.ts
  src/entities/asteroid/types.ts
  src/entities/enemy/index.ts
  src/entities/enemy/types.ts
  src/entities/planet/index.ts
  src/entities/planet/types.ts
  src/tags/asteroid.ts
  src/tags/enemy.ts
  src/tags/planet.ts
Labels: component, entity, asset
